sdssimages/
;sedm2_directories.inc*
sedm_mocksdssimage_movie.pro
nohup.out
*~
command.sh
*.out
another_track.txt
sfr_track_specific.txt
._*
*.png
*sfr*.txt
.DS_Store
.DS_*
DR7_loghist.sav
*.txt
*tag*
some_dependencies/ma134-56995-2.par
*.pyc
*.fits
